<a href="https://colab.research.google.com/github/rlalramengi/Decision_Tree/blob/main/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Decision Three

#Load Libraries

In [ ]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style='white', color_codes=True)

#Data Acquisition

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/DataSet/techis-ds-wiki-main/DS/Step 2-3 DT and Ensemble/01_Decision-trees/iris.csv')

In [ ]:
# Showing overview of the dataset
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#printing Dimension of datasets
print('Dimension of dataset: ', data.shape)
print('Number of rows in the dataset: ', data.shape[0])
print('Number of columns in the dataset: ',data.shape[1])

Dimension of dataset:  (150, 5)
Number of rows in the dataset:  150
Number of columns in the dataset:  5

In [ ]:
#printing attributes(colums)name
print("column names: ", data.columns.values)

column names:  ['sepal_length' 'sepal_width' 'petal_length' 'petal_width' 'species']

In [ ]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

#Exploratory Data Analysis (EDA)

In [ ]:
#showing datatypes of the columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
#getting descriptive statics (summary of the data)
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:


col = data.columns
for i in col:
  print(i ,"Column Has Unique Value: ",data[i].nunique())

sepal_length Column Has Unique Value:  35
sepal_width Column Has Unique Value:  23
petal_length Column Has Unique Value:  43
petal_width Column Has Unique Value:  22
species Column Has Unique Value:  3

#2-D Scatter plot

In [ ]:
#2-D statter plot.
import seaborn as sns

sns.set_style('whitegrid')
sns.FacetGrid(data, hue = "species", size = 5.5) \
   .map(plt.scatter, "sepal_length", "sepal_width") \
   .add_legend();
plt.show();

In [ ]:
#Pairplot on the data

In [ ]:
sns.set_style('whitegrid');
sns.pairplot(data, hue = 'species',size = 3)
plt.show()

#Univariate Analysis Using PDF

In [ ]:
col = data.columns

In [ ]:
col

In [ ]:
df = data.copy()

In [ ]:
sns.countplot('species',data= data)

In [ ]:
for name in data.columns.values[:-1]:
    sns.FacetGrid(data, hue="species", size=5).map(sns.distplot, name).add_legend()
plt.show()

#Boxplot and whiskers

In [ ]:
data.boxplot(column = ['sepal_length','sepal_width', 'petal_length','petal_width'],figsize=(9,5),grid = False)

In [ ]:
#Identifing missing values
miss_val = data.isna().sum()
miss_val

In [ ]:
#Extracting dataframe for only 'object' datatypes
data_ct = data.select_dtypes(include ='object')
data_ct.head()

In [ ]:
#Extracting dataframe for only 'number' datatypes
data_num = data.select_dtypes(include = ['float64', 'int64'])
data_num.head()

In [ ]:
#data points for each class
data.species.value_counts()

In [ ]:
#count plot for species
sns.countplot('species',data=data)
plt.title("species distribution")

In [ ]:
# # Import label encoder 
# from sklearn import preprocessing 
  
# # label_encoder object knows how to understand word labels. 
# label_encoder = preprocessing.LabelEncoder() 
  
# # Encode labels in column 'species'. 
# data['species']= label_encoder.fit_transform(data['species'])

In [ ]:
#Check unique value of species
data['species'].unique()

In [ ]:
#showing overview of the dataset
data.head()

#Correlation

In [ ]:
#Constructing correlation Matrix
corr = data.corr()
corr

In [ ]:
#Heatmap
plt.figure(figsize = (6,6))
sns.heatmap(corr, annot = True, cmap = 'cubehelix_r', square = True)
plt.show()

In [ ]:
#splitting Data set into train and validation
from sklearn.model_selection import train_test_split
train, test= train_test_split(data, test_size = 0.30, random_state= 1)

In [ ]:
#considering only highly correlated features for training and validation
train_x = train.drop (['species'], axis = 1)
train_y = train['species']

test_x = test.drop(['species'], axis = 1)
test_y = test['species']

In [ ]:
print('Dimension of train_x: ', train_x.shape)
print('Dimension of train_y: ', train_y.shape)
print('Dimension of test_x: ', test_x.shape)
print('Dimension of test_y: ', test_y.shape)

In [ ]:


#using decision tree classifier for model building by "gini"
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state = 0, max_depth = 2, criterion = 'entropy')
clf.fit(train_x, train_y)

In [ ]:
#Predict species for test data
pred = clf.predict(test_x)
pred

In [ ]:
#Validation of built model
from sklearn.metrics import accuracy_score
print('The accuracy of the Decision Tree is {}%' .format(round(accuracy_score(pred,test_y)*100,2)))

#GridSearchCV

In [ ]:
#Tuning parameters using Grid search cross validation
from sklearn.model_selection import GridSearchCV
tree_params = {"criterion": ["gini", "entropy"], "max_depth": list(range(1,6,1)),
               "min_samples_leaf": list(range(1,7,1))}
grid_tree = GridSearchCV(DecisionTreeClassifier(random_state=1), tree_params, cv = 3)
grid_tree.fit(train_x, train_y)

In [ ]:
#tree best estimator
tree_clf = grid_tree.best_estimator_
tree_clf

In [ ]:
#Print byperparameter
print("Tuned hyperparameter: {}".format(grid_tree.best_params_))
print("Best score: {}".format(grid_tree.best_score_))

In [ ]:
#Using best hyperparameter

DT = tree_clf.fit(train_x, train_y)
y_pred = DT.predict(test_x)
acc = accuracy_score(y_pred, test_y)
print("The accuracy of the Decision tree after hyperparameter tuning: {}% ". format(round(acc*100,2)))

In [ ]:
#Model visualization

from sklearn import tree
plt.figure(figsize = (7,5))
tree.plot_tree(DT, feature_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'],
               class_names = ['setosa', 'versicolor', 'virginica'],proportion=False)
plt.show()

In [ ]:
# #Model visualization

# from sklearn.tree.export import export_text
# r = export_text(DT, feature_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
# print(r)

#Model visualization
from sklearn.tree import export_text
r = export_text(DT, feature_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
print(r)

In [ ]:
#lets see the actual and predicted value
test = test.reset_index(drop = True)
test["pred_species"] = y_pred
test.head()